/* Estilo para o cabeçalho (header) */
header {
    width: 100%;
    padding: 16px 8%;
    position: sticky;
    top: 0;
    background-color: var(--color-primary-1);
    z-index: 3;
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-container {
    flex: 1; /* Ocupa todo o espaço disponível à esquerda */
}

.logo {
    border-radius: 100px; /* Borda arredondada */    
    height: 50px; /* Altura da logo ajustável */
    vertical-align: middle;
}

.navbar {
    list-style-type: none;
    text-align: right; /* Alinha os itens da lista à direita */
}

.navbar li {
    display: inline-block;
    margin-left: 20px; /* Espaçamento entre os itens */
}

.navbar li a {
    color: #1d1d1d;
    text-decoration: none;
    font-weight: bold;
    padding: 10px;
    transition: all 0.3s ease;
}

.navbar li a:hover {
    background-color: #555;
}
