/* Estilo CSS do HOME */
#home {
    display: flex;
    min-height: calc(100vh - 91px);
    position: relative;
}

#cta {
    width: 35%;
    display: flex;
    flex-direction: column;
    gap: 28px;
    margin-top: 5%;
}

#cta .title {
    font-size: 4rem;
    color: var(--color-neutral-1);
}

#cta .title span {
    color: var(--color-primary-6);
}

#cta .description {
    font-size: 1.2rem;
}

#cta_buttons {
    display: flex;
    gap: 24px;
}

#cta_buttons a {
    text-decoration: none;
    color: var(--color-neutral-1);
}

#phone_button {
    display: flex;
    gap: 8px;
    align-items: center;
    background-color: #ffffff;
    padding: 8px 14px;
    font-weight: 500;
    box-shadow: 0px 0px 12px 4px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
}

#phone_button button {
    box-shadow: none;
}

#banner {
    display: flex;
    align-items: start;
    justify-content: end;
    width: 70%;
    z-index: 2;
}

#banner img {
    height: 100%;
    width: 599px;
    padding: none;
    display: block;
    max-width: 600px;
    border-radius: 10px;
    border: 10px solid var(--color-primary-1);
}

.shape {
    background-color: var(--color-primary-2);
    width: 50%;
    height: 100%;
    position: absolute;
    border-radius: 40% 30% 0% 20%;
    top: 0;
    right: 0;
    z-index: 1;
}

/* Estilo CSS da EMPRESA */
#empresa {
    display: flex;
    min-height: calc(100vh - 91px); /* Altura mínima ajustada */
    position: relative;
    padding: 70px; /* Ajuste conforme necessário para espaço acima */
    margin-bottom: -50px;
}

#texto-empresa {
    width: 50%; /* Largura da seção de texto */
    border-radius: 10px;
    padding: 20px; /* Espaçamento interno */
    margin-right: 20px; /* Espaço entre texto e imagem */
}

#texto-empresa h2 {
    font-size: 2.5rem;
    color: var(--color-neutral-1);
    margin-bottom: 20px; /* Espaço abaixo do título */
}

#texto-empresa p {
    font-size: 1.1rem;
    line-height: 1.6; /* Espaçamento entre linhas */
    margin-bottom: 10px; /* Espaço abaixo de cada parágrafo */
}

#imagem-empresa {
    width: 50%; /* Largura da seção de imagem */
    margin-left: auto; /* Alinha a imagem à direita */
}

#imagem-empresa img {
    height: auto;
    left: 20px;
    border-radius: 10px;
    border: 10px solid var(--color-primary-2);
}

@media screen and (max-width: 1170px) {
    #home {
        min-height: 100%;
        padding-top: 0px;
    }

    #banner,
    #banner img,
    #home .shape {
        display: none;
    }

    #cta {
        width: 100%;
        text-align: center;
        align-items: center;
    }
}

@media screen and (max-width: 450px) {
    #phone_button button {
        display: none;
    }
}
