/* Arquivo principal para estilos globais */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #2e0909; /* Cor de fundo similar à da imagem */
    color: white;
}

/* Estilos do cabeçalho */
header {
    background-color: #3d0000;
    display: flex;
    justify-content: center; /* Centraliza os itens dentro do cabeçalho */
    align-items: center;
    padding: 20px; /* Aumenta o padding para dar mais espaço interno */
    width: 100%;
    height: 50px; /* Ajusta a altura para 50 pixels */
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
}

/* Estilos do rodapé */
footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #3d0000;
    color: white;
    padding: 9px 0; /* Aumenta o espaço acima e abaixo do texto */
    text-align: center; /* Centraliza o texto */
    z-index: 2; /* Define um z-index inferior ao do cardápio */
}